{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicon awesome icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tumi's Blog{% block title %}{% block title %}</title>
</head>
<style type="text/css">
  img{
    max-width: 100%;
    object-fit: cover;
  }

  .featured_image{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-container{
      width: 900px;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .author-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  @media screen and (max-width: 900px){
    .post-container{
      width: 95%;
    }
  }
</style>
<body>
   <!-- header -->
   <header>
    <nav class = "navbar">
      <div class = "container">
         <a href = "{% url 'blog:index' %}" class = "navbar-brand">Tumi's </a> 
        <div class = "navbar-nav">
          <a href = "{% url 'blog:index' %}">home</a>
          <a href = "{% url 'blog:posts' %}">Posts</a>
          <a href = "">about</a>
        </div>
      </div>
    </nav>
    <div class = "banner">
      <div class = "container">
        <h1 class = "banner-title">
          <span>Omen.</span> Bloggies
        </h1>
        <p>everything you need to know about building a Sass with Django</p>
      </div>
    </div>
  </header>
  <!-- end of header -->


    {% block content %}
    {% endblock %}

        <!-- footer -->
        <footer>
          <div class = "social-links">
            <a href = "#"><i class='bx bxl-facebook'></i></a>
            <a href = "#"><i class='bx bxl-twitter'></i></a>
            <a href = "#"><i class='bx bxl-instagram'></i></a>
            <a href = "#"><i class='bx bxl-github'></i></a>
          </div>
          <span>Academy.Omen Bloggies</span>
        </footer>
        <!-- end of footer -->
   
</body>
</html>