
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- featured -->
    <section class = "featured" id = "featured">
        <div class = "container">
          <div class = "title">
            <h2>Featured posts</h2>
          </div>
  
          <div class = "featured-content">
            {% for post in posts %}
            <!-- item -->
            <div class = "featured-item">
              <div class = "featured-img">
                <a href="{{ post.get_absolute_url }}"> 
                  <img src = "{{ post.image.url }}" alt = "">
                  <span><i class='bx bx-calendar-star'></i>{{ post.publish|date:"M Y" }}</span>
                  <span>{{ post.sub_headline }}</span>
                </a>
              </div>
              <div class = "featured-title">
                <a href = "{{ post.get_absolute_url }}">{{ post.headline }}</a>
              </div> 
            </div>
            <!-- end of item -->
            {% empty %}
                    <h3>No Featured Posts at the Moment...</h3>  
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- end of featured -->
      
      <!-- about -->
      <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "{% static 'images/about.jpg' %}" alt = "">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>Catherine Doe</h2>
                <p>art & design is my passion</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam voluptatem saepe eius ipsum nam provident sapiente, natus et vel eligendi laboriosam odit eos temporibus impedit veritatis ut, illo deserunt illum voluptate quis beatae quod. Necessitatibus provident dicta consectetur labore!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti natus, eos quia recusandae voluptatem veniam modi officiis minima provident rem sint porro fuga quos tempora ea suscipit vero velit sed laudantium eaque necessitatibus maxime!</p>
            </div>
          </div>
        </div>
      </section>
      <!-- end of about -->
  
{% endblock %}